.main-searchbar{
    display: flex;
    justify-content:space-between;
}

.search-box{
    display: flex;
    align-items: center;

}

.search-box input{
    height: 2rem;
    width: 20rem;
    border-radius: .5rem;
}

.search-box button{
    height: 2rem;
    border-radius: .5rem;
}