
.sidebar-panel{
    min-height: 95vh;
}

.sidebar h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin-left:.5rem ;
    padding-right: .2rem;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
    padding-left: 1rem;
}

.sidebar nav ul li {
    margin: 1rem 0;
}

.sidebar nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
}

.sidebar nav ul li a:hover {
    color: #007bff;
} 
